@media screen and (min-width: 768px)
  .heading
    h1
      font-size 5em
      position absolute
      top 1.5em
      left 6em
    p.lead
      font-size 1.5em
      position absolute
      top 10em
      left 20em
    div.row
      display inline-block
    figure
      height 510px
      .hand
        margin 0 0 0 5em
        padding 0