@media screen and (min-width: 728px)
  .heading
    h1
      font-size 5em
      position absolute
      top 1.5em
      left 8em
    p.lead
      font-size 1.5em
      position absolute
      top 10em
      left 26.8em
    div.row
      display inline-block
    figure
      height 510px
      margin 0 0 0 8em       
      .hand
        margin 0 0 0 5em
        padding 0
   p.copy
     font-size 1.3em