// Variables
cheflygray = #ccc
cheflyblack = #333
cheflylightblack = #555
cheflyblue = #5371c5

body
  font-family 'Open Sans'
  font-size 16px
  color cheflylightblack

h1,h2,h3,h4, p.lead 
  font-family 'Raleway'
  text-align center
h1, p.lead
  color cheflyblack

nav
  font-family 'Raleway'

footer
  font-size .8em
  text-align center

div.copy p
  margin 16% 1em
  text-align justify
p.copy
  font-size 1.3em

.btn-bitcoin
  margin 0 auto
  padding-left 3em

.heading
  background url('img/background.png')
  -webkit-background-size cover
  -moz-background-size cover
  background-size cover
  background-position center center
  background-repeat no-repeat
  margin 0 auto
  padding 50px 0 0 0
  figure
    height 300px
    .hand
      height 100%
      padding 0 60px 0 0
      margin 0 auto

.logo
  height 20px
  img
    height 100%

.mailist
  background rgba(50,50,50, 0.3)
  padding 1em
  p
    font-size 1.2em
    text-align center
    padding 1em 0 0 0
  input[type=email]
    text-align center
    background-color cheflyblack
  .btn
    background-color #eaeaea
    border-color #eaeaea
    color cheflyblack

#team
  padding 0 0 1em 0
  .img_team
    margin 0 auto 
    width 200px
    img
      border-radius 120px
      -webkit-border-radius 120px
      -moz-border-radius 120px
      width 100%
  .text-center
    font-family 'Raleway'
  .name
    margin .5em 0 0 0
    color cheflyblack
  .carge
    margin 0
    color cheflylightblack+60
    

#features2
  background rgba(180,180,180, 0.3)
  div
    margin 0 auto
    text-align center
    margin 1em 0
  .icon
    color cheflyblue
    font-size 4em

#faq
  margin 0 0 2em 0

// Bootstrap navbar fixed
.icon-bar
  background-color cheflyblack !important
.navbar
  background rgba(50,50,50, 0.3)
.navbar-inverse, .navbar-toggle
  border 0
  border-color cheflygray
.navbar-inverse .navbar-brand
  color cheflyblack
.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus
.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus
  background-color rgba(50,50,50, 0.7)
.navbar-inverse .navbar-nav > li > a
  color cheflylightblack

